.navbar {
  display: flex;
  background-color: lightgrey;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
  
}

.navbar li {
  list-style-type: none;
  margin: 0 2rem;
}

.navbarLink {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  &:hover {
    color: red
  }
}

.navbar.active {
  font-weight: bold;
}