<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a new User</title>
</head>
<body>
  <form method="post" action="http://localhost:8080/users">
    <input type="text" name="username" placeholder="Enter Username"/>
    <input type="password" name="password" placeholder="Enter Password"/>
    <button type="submit">Add New User</button>
  </form>
</body>
</html>