*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






/* @property --bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: blue;
}




:root {
  --backgroundColor: white;
}

div {
  background-color: var(--bg-color);
}

.outside {
  --bg-color: red;
}



@media (min-width: 1000px) {
  :root {
  --backgroundColor: black;
  } 
}

*/
/* 
:root {
  --fc: orange;
  --sc: pink;
}

#box {
  width: 100%;
  height: 400px;
  background: linear-gradient(var(--fc), var(--sc));
  animation: gradient 3s linear infinite;
} */


/* @keyframes gradient {
  0%,
  100% {
     --fc: black;
     --sc: grey;
  }
  50% {
     --fc: red;
     --sc: blue;
  }
} */

/* * {
  background-color: blue;
} */

/*  
@media screen and (max-width: 992px) {
  div {
    background-color: blue;;
  }
}

@media screen and (max-width: 600px) {
  div {
    background-color: black;;
  }
} */


